<% include ./partials/header %>
<h1>This is the show page!</h1>

<p><%=city.name%></p>
<p><%= city.image %></p>
<p><%= city.country %></p>
<p><%= city.description %></p>

<form id="delete" action="/cities/<%=city._id%>?_method=delete" method="post"><button>DELETE</button></form>
<a href="/cities/<%=city._id%>/edit">Edit post</a>
<a href="/cities">Back to main page</a>

<% include ./partials/footer %>
