<% include ../partials/header %>
<div class="container-fluid mb-3">
  <h4 class="text-center d-sm-none"><%=city.name%></h4>
  <h1 class="text-center d-none d-sm-block"><%=city.name%></h1>
  <h4 class="text-center d-none d-sm-block"><%= city.country %></h4>
  <img class="img-fluid mx-auto d-block" src="<%= city.image %>" alt="" srcset="" />
  <p></p>
  <p><%= city.description %></p>

  <div class="row text-center">
    <a class="btn btn-primary mx-2" href="/cities/<%=city._id%>/edit">Edit</a>
  </div>
</div>

<a class="btn btn-primary" href="/cities/<%=city._id%>/sights/new">Add a Sight</a>

<% include ../partials/footer %>
