<% include ../partials/header %>
<div class="container-fluid mb-3">
  <h4 class="text-center d-sm-none"><%=city.name%></h4>
  <h1 class="text-center d-none d-sm-block"><%=city.name%></h1>
  <h4 class="text-center d-none d-sm-block"><%= city.country %></h4>
  <img class="img-fluid mx-auto d-block" src="<%= city.image %>" alt="" srcset="" />
  <p></p>
  <p><%= city.description %></p>

  <div class="row text-center">
    <a class="btn btn-primary mx-2" href="/cities/<%=city._id%>/edit">Edit</a>
  </div>
</div>

<a class="btn btn-primary" href="/cities/<%-city._id%>/comments/new">Add a comment</a>
<a class="btn btn-primary" href="/cities/<%=city._id%>/sights/new">Add a Sight</a>
<a class="btn btn-success" href="/cities/<%=city._id%>/sights">All sights</a>

<div class="row">
  <div class="col-6">
    <% city.sights.forEach(function(sight) { %>
    <p><%=sight.author.username%></p>
    <p><%=sight.name%></p>
    <img src="<%=sight.image%>" alt="" />
    <p><%=sight.description%></p>
    <a href="/cities/<%=city._id%>/sights/<%=sight._id%>">Show Sight</a>
    <%})%>
  </div>
  <div class="col-6">
    <% city.comments.forEach(function(comment) { %>
    <p><%=comment.author.username%></p>
    <p><%=comment.text%></p>
    <div>
      <a class="btn btn-primary" href="/cities/<%=city._id%>/comments/<%=comment._id%>/edit">Edit</a>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
