<% include ../partials/header %>


<div class="container-fluid mb-3">
  <h4 class="text-center d-sm-none"><%=sight.name%></h4>
  <h1 class="text-center d-none d-sm-block"><%=sight.name%></h1>
  <img class="img-fluid mx-auto d-block" src="<%= sight.image %>" alt="" srcset="" />
  <p></p>
  <p><%= sight.description %></p>
  <a href="/cities/<%-city_id%>/sights/<%=sight._id%>/comments/new">Add a comment</a>
  <div class="row">
    <div class="col-6">
      <% sight.comments.forEach(function(comment) { %> <%if(comment.author){%>
      <p><%=comment.author.username%></p>
      <%}%>
      <p><%=comment.text%></p>
      <a class="btn btn-success" href="/cities/<%=city_id%>/sights/<%=sight._id%>/comments/<%=comment._id%>/edit">Edit</a>
      <%})%>
    </div>

    <div class="row text-center">
      <a class="btn btn-primary mx-2" href="/cities/<%-city_id%>/sights/<%=sight._id%>/edit">Edit</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>